{% extends "base.html"%}

{% block content%}
    <div class = "container">
        <h3> Contributor Registration <br/>作者登記</h3>
        <form method ="POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "input-field col s6"> Reset Password</legend>
                {{ form.as_p }}
                <button class="waves-effect waves-light btn"  type="submit"> Request Password Reset</button>
            </fieldset>
         </form>
    </div>
{% endblock content %}