{% extends "base.html"%}
{% load static %}
{% block content%}
    <img class ="round-circle account-img" src="{{ user.profile.image.url}}"/>
    <p> {{ user.username}} </p>
    <p> {{ user.email}} </p>
    <form method ="POST" enctype='multipart/form-data'>
            {% csrf_token %}
                <fieldset class = "form-group">
                    <legend class = "input-field col s6"> Profile Info</legend>
                    {{ u_form.as_p }}
                    {{ p_form.as_p }}
                    <button class="waves-effect waves-light btn"  type="submit"> Update</button>
                </fieldset>
         </form>
{% endblock content %}