.blog_img {
    max-width: 250px;
}

.news_article{
    margin:auto;
    padding: 1em;
    max-width: 320px;
}


.find_out_more{
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.find_out_more:visited{
    text-decoration: none;
}

.find_out_more:hover{
    color: yellow;
}